.container{
    list-style: none;
    display:flex;
    align-items: center;
    justify-content: center;
}

.icon{
    margin-right: 4px;
}
.username{
font-family: Prompt;
font-size: 15px;
font-weight: 600;
line-height: 22.5px;
text-align: left;
color:#888888
}